@charset "UTF-8";

@media screen and (max-width: 1000px){
    header.pc-versao{
        display: none;
    }
    header.mobile-versao{
        display: flex;
    }
    footer.mobile-um{
        display: inline;
    }
}

@media screen and (max-width: 800px){
    .foto-minha > picture > img{
        padding: 5px;
        padding-left: 5px;
    }
}

@media screen and (max-width: 688px){
    .foto-minha > picture > img{
        padding: 5px;
        padding-left: 8px;
        width: 130px;
    }
    .informa{
        text-align: center;
    }
    .informa > h1{
        font-family: var(--fonte-titulo);
        font-size: 22px;
        font-weight: 900;
        margin: 0;
        padding: 0;
    }
    .informa > h3{
        font-family: var(--fonte-titulo);
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        padding: 0;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    main{
        padding: 0;
        width: 100%;
    }
    
}

@media screen and (max-width: 510px){
    .foto-minha > picture > img{
        padding: 5px;
        padding-left: 8px;
        width: 100px;
    }
    .informa > h1{
        font-family: var(--fonte-titulo);
        font-size: 19px;
        font-weight: 900;
        margin: 0;
        padding: 0;
    }
    .informa > h3{
        font-family: var(--fonte-titulo);
        font-size: 15px;
        font-weight: 600;
        margin: 0;
        padding: 0;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

@media screen and (max-width: 450px){
    header.mobile-versao{
        display: none;
        background-color: var(--cor4);
    }
    header.mobile-versao-2{
        display: inline;
        background-color: var(--cor4);
    }
    .mobile-flex{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .foto-minha img{
        width: 100px;
        padding: 10px;
    }

    .blue{
        background-color: var(--cor4);
    }
    header.mobile-versao-2 > .blue > h1{
        padding-top: 15px;
        text-align: center;
        font-size:25px;
        font-family: var(--fonte-titulo);
    }

    .texto-pequeno{
        font-size: 15px;
    }
    .texto-pequeno > h3{
        border: 2px solid black;
        padding: 10px;
        font-family: var(--fonte-titulo);
        border-radius: 10px;
        text-align: center;
    }

    .texto-pequeno > h3:hover{
        cursor: pointer;
    }
}

@media screen and (max-width: 350px){
    .botao-dois .des-js{
        width: 95px;
        margin: auto;
        padding: 9px;
        border: 4px solid #4ba4f2;
        border-radius: 13px;
        transition: 250ms;
        font-family: var(--fonte-titulo);
    }
    .cartao-site{
        width: 380px;
        border: 4px solid #4ba4f2;
        padding: 8px;
        border-radius: 10px;
        margin: 2px;
    }
}
